<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lego.controllerapp">

    <application
            android:allowBackup="true"
            android:label="LegoControllerApp"
            android:supportsRtl="true"
            android:theme="@style/Theme.LegoControllerApp"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round">
        <activity android:name=".MainActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.EditorActivity" />
        <activity android:name=".ui.SelectModeActivity" />
        <activity android:name=".ui.SharedPreferencesHelper" />
        <activity android:name=".ui.ConfigListActivity" />
        <activity android:name=".ui.SettingsActivity" />
    </application>

</manifest>